.center{
	color: whitesmoke;
	text-align: center;
	font-size: 4em;
}
.top{
	display:inline-block;
	vertical-align: top;
	margin-top: 10%;
}
.subtitle{
	margin-top: 0%;
	font-size: 2em;
}
.first{
	background-image: url(images/seoulpower.jpg);
	background-size: 100% 100%;
}
.proj{
	background-image: url(images/envbuilding.jpg);
	background-size: 100% 100%;
}
.ardy{
	background-image: url(images/arduino.jpg);
	background-size: 100% 100%;
}
.luri{
	background-image: url(images/studioluri.jpg);
	background-size: 100% 100%;
}
.TTH{
	background-image: url(images/TestRoom.png);
	background-size: 100% 100%;
}
.chat{
	background-image: url(images/chat.png);
	background-size: 100% 100%;
}
.resume{
	background-image: url(images/Seoul.jpg);
	background-size: 100% 100%;
}
.me{
	background-image: url(images/goose.jpg);
	background-size: 100% 100%;
}
.projectpage{
	display: inline-block;
	vertical-align: top;
	float: none;
}
.links{
	display:inline-block;
}
.git{
	margin-left: auto;
	margin-right: auto;
}
.centrer{
	text-align: center;
}
.fp-slides{
	height: 100%;
}
.projDescription .fp-tableCell{
	vertical-align: top;
}
.vertCenter{
	vertical-align: middle;
}
.midBanner{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	height: 95%;
}
.rounded{
	border-radius: 2%;
}
.projectText{
	color: whitesmoke;
	margin-left: 5%;
	margin-right: 5%;
}
.pdf{
	margin: 0 auto;
	display: block;
	height: 80%;
	width: 80%;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background: white;
}
#fp-nav ,.right{
	margin-right: 3%;
}