.ott{
	height: 100%;
	width: 100%;
    box-shadow: inset 0 0 100px rgba(0,0,0,1);
}
.center{
	color: whitesmoke;
	text-align: center;
	margin-top: 20%;
	font-size: 4em;
}
.subtitle{
	margin-top: 0%;
	font-size: 2em;
}
.first{
	background-image: url(seoulpower.jpg);
	background-size: 100% 100%;
}
.links{
	display:inline-block
	width: 6em;
}
.git{
	margin-left: auto;
	margin-right: auto;
}
.centrer{
	text-align: center;

}