.center{
	color: whitesmoke;
	text-align: center;
	font-size: 4em;
}
.top{
	display:inline-block;
	vertical-align: top;
	margin-top: 10%;
}
.subtitle{
	margin-top: 0%;
	font-size: 2em;
}
.first{
	background-image: url(seoulpower.jpg);
	background-size: 100% 100%;
}
.proj{
	background-image: url(envbuilding.jpg);
	background-size: 100% 100%;
}
.projectpage{
	display: inline-block;
	vertical-align: top;
	float: none;
}
.links{
	display:inline-block
	width: 6em;
}
.git{
	margin-left: auto;
	margin-right: auto;
}
.centrer{
	text-align: center;

}
.fp-slides{
	height: 100%;
}
.projDescription .fp-tableCell{
	vertical-align: top;
}
.vertCenter{
	vertical-align: middle;;;
}
